header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.25rem;
}

main {
    width: 90%;
    margin: 0 auto;
}

.sectionOne {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.sectionOne img {
    width: 100%;
}


.sectionTwo {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: 10px;
}

.sectionThree {
    display: flex;
    justify-content: ;
}
