header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.25rem;
}

nav {
	display: flex;
}

nav a {
	padding: 1rem;
}

main {
	width: 90%;
	margin: 0 auto;
}

.sectionOne {
	display: flex;
	justify-content: center;
	padding: 20px;
}

.sectionOne img {
	width: 100%;
}

.sectionTwo {
	display: flex;
	justify-content: space-between;
	padding: 20px;
	margin: 10px;
}

.sectionThree {
	display: flex;
	justify-content: space-between;
	padding: 20px;
	margin: 10px;
}

.sectionThree article {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 50%;
}

.button {
	text-decoration: none;
	border: 3px solid black;
	width: 75px;
	text-align: center;
	padding: 1rem;
	background: tomato;
	border-radius: 0.75rem;
}

.button:hover {
	background: black;
	color: white;
}
